.discover {
  .discover-title {
    font-size: 30px;
    font-weight: $font-semibold;
    text-align: center;
    color: $color-gray;
    letter-spacing: 4px;
  }

  .discover-subtitle {
    font-size: 15px;
    font-weight: $font-semibold;
    text-align: center;
    color: $color-gray;
    letter-spacing: 2px;
  }
}