.footer-title {
  > .subscribe-img {
    width: 100%;
    margin-top: 6vw;
  }

  .footer-title-text {
    letter-spacing: 1vw;
    font-size: 6vw;
    top: 1.2vw;
    left: 0;
    right: 0;
    text-align: center;

    .part-2 {
      font-weight: $font-bold;
    }
  }

  button {
    background: $color-main;
    color: $color-white;
    letter-spacing: 0.5vw;
    font-weight: $font-semibold;
    font-size: 2vw;
    height: 7vw;
    width: 16vw;
    border-radius: 1vw;
    top: 32vw;
    left: 20vw;
    border: 0;
  }

  > .artist-img {
    width: 22vw;
    top: 16vw;
    right: 20vw;
  }

  > .artist-name {
    top: 28vw;
    left: 41vw;
    font-size: 5vw;
    font-weight: $font-bold;
    letter-spacing: 1vw;

    .lastname {
      margin-top: -3.5vw;
      padding-left: 4vw;

      .part-2 {
        margin-left: -2vw;
        color: $color-main;
      }
    }
  }

  > .subtitle {
    right: 18vw;
    top: 45vw;
    text-align: end;
    font-size: 2vw;
    letter-spacing: 0.3vw;

    .part-1 {
      font-weight: $font-semibold;
      color: $color-gray;
    }

    .part-2 {
      margin-top: -1vw;
    }
  }
}