.player {
  width: 352px;
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $color-main;
}

.song-title {
  font-size: 20px;
  font-weight: $font-semibold;
}

.song-description {
  color: $color-gray;
}

